
body{
    padding-top: 4.5rem;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;

}



.navbar{
    background-color: #562EFF;
}

.brand-logo p{
    display: inline;
    font-size: 24px;
}

.navbar img{
    height: 51px;
}

.box{
    /* width: 100%;
    height: 500px; */
    margin-bottom: 24px;
    background: #FFFFFF;
    border-radius: 5px;
}

.navbar-section nav{
     width: 70%;
     background-color: aquamarine;
}

.player{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* padding: 20px 0; */
    margin: 20px 0;
    
}

.player p{
    margin-left: 10px;
}

.player img{
    width: 56px;
    
}

.section-title{
    color:  #562EFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.custom-purple-color{
    color:  #562EFF;
}

.rating img{
    height: 11px;
}

.course-duration img{
    height: 20px;
}

.course-duration p{
    display: inline;
    
    
}

.course-duration{
    background-color: #FFE4E8;

}

.card{
    
    border-radius: 10px;
    
}

.card-footer{
    background-color: white;
    border-top: none;
}

/* For card animation start*/
.trans-card {
    transition: 0.4s;
  }
  
.trans-card:hover {
    transform: translateY(-1rem);
    box-shadow: 10px 10px 24px -13px rgba(0,0,0,0.75);
    border-radius: 10px;
    cursor: pointer;
  }
  /* For card animation end*/