
body{
    padding-top: 4.5rem;
    font-family: 'Poppins', sans-serif;

}

.navbar{
    background-color: #562EFF;
}

.brand-logo p{
    display: inline;
    font-size: 24px;
}

.navbar img{
    height: 51px;
}

.box{
    width: 100%;
    border: 3px solid yellowgreen;
    height: 200px;
}

.navbar-section nav{
     width: 70%;
     background-color: aquamarine;
}